body{
     
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}
h4{
   text-align: center;
}
.pics{
    
    display: inline;
    background-color: #FDFBD4;
    
}
.pics>div{
    text-align: center;
}
.img22{
    
    width: 200px;
    height:200px;
}
img{
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.content{
    height: 30px;
    width: 100px;
    border-radius: 10%;
    /* border: 2px solid black; */
    /* background-color: rgb(116, 243, 116); */
    text-decoration-color: black;
    margin:auto;
}
.more{
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    background-color: greenyellow;
    /* font-size: ; */
}
a:hover{
    font-size:large;
}
